<ion-card class="product-card">
  <div class="card-image-wrapper">
    <ng-container *ngIf="product.imageUrl; else placeholder">
      <img [src]="product.imageUrl" [alt]="product.name" />
    </ng-container>
    <ng-template #placeholder>
      <div class="img-placeholder">
        <ion-icon name="cloud-outline"></ion-icon>
      </div>
    </ng-template>
    <ion-badge [color]="stockBadgeColor" class="stock-badge">
      {{ stockBadgeLabel }}
    </ion-badge>
  </div>
  <ion-card-content>
    <p class="brand" *ngIf="product.productType">{{ product.productType }}</p>
    <h3 class="name">{{ product.name }}</h3>
    <p class="price">Bs. {{ product.price | number: '1.2-2' }}</p>
    <ion-button
      expand="block"
      fill="solid"
      color="primary"
      size="small"
      class="view-details-btn"
      (click)="tap()"
    >
      Ver Detalles
    </ion-button>
  </ion-card-content>
</ion-card>
