<ion-header [translucent]="true">
  <ion-toolbar class="guide-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="guide-back-btn"></ion-back-button>
    </ion-buttons>
    <ion-title><span class="toolbar-brand">{{ 'guides.primerVape.toolbarTitle' | translate }}</span></ion-title>
    <ion-buttons slot="end">
      <app-language-toggle></app-language-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="guide-content">
  <article class="guide-article">
    <img class="guide-hero-img" src="assets/images/vape-display-collection.jpg" [attr.alt]="'common.vapeCollectionImgAlt' | translate">
    <p class="brand">{{ 'common.guidesTag' | translate }}</p>
    <h1 class="name">{{ 'guides.primerVape.title' | translate }}</h1>

    <p class="description">
      {{ 'guides.primerVape.intro.paragraph1' | translate }}
    </p>
    <p class="description">
      {{ 'guides.primerVape.intro.paragraph2' | translate }}
    </p>

    <section class="description-section">
      <h2>{{ 'guides.primerVape.section1.title' | translate }}</h2>
      <p class="description">
        {{ 'guides.primerVape.section1.body' | translate }}
      </p>
      <ul class="article-list">
        <li><strong>{{ 'guides.primerVape.section1.item1Label' | translate }}</strong> {{ 'guides.primerVape.section1.item1Text' | translate }}</li>
        <li><strong>{{ 'guides.primerVape.section1.item2Label' | translate }}</strong> {{ 'guides.primerVape.section1.item2Text' | translate }}</li>
      </ul>
    </section>

    <section class="description-section">
      <h2>{{ 'guides.primerVape.section2.title' | translate }}</h2>
      <p class="description">
        {{ 'guides.primerVape.section2.body' | translate }}
      </p>
      <ul class="article-list">
        <li><strong>{{ 'guides.primerVape.section2.item1Label' | translate }}</strong> {{ 'guides.primerVape.section2.item1Text' | translate }}</li>
        <li><strong>{{ 'guides.primerVape.section2.item2Label' | translate }}</strong> {{ 'guides.primerVape.section2.item2Text' | translate }}</li>
      </ul>
    </section>

    <section class="description-section">
      <h2>{{ 'guides.primerVape.section3.title' | translate }}</h2>
      <ul class="article-list">
        <li><strong>{{ 'guides.primerVape.section3.item1Label' | translate }}</strong> {{ 'guides.primerVape.section3.item1Text' | translate }}</li>
        <li><strong>{{ 'guides.primerVape.section3.item2Label' | translate }}</strong> {{ 'guides.primerVape.section3.item2Text' | translate }}</li>
      </ul>
    </section>

    <div class="table-scroll">
      <table class="article-table">
        <thead>
          <tr>
            <th>{{ 'guides.primerVape.table.header1' | translate }}</th>
            <th>{{ 'guides.primerVape.table.header2' | translate }}</th>
            <th>{{ 'guides.primerVape.table.header3' | translate }}</th>
            <th>{{ 'guides.primerVape.table.header4' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ 'guides.primerVape.table.row1Col1' | translate }}</td>
            <td>{{ 'guides.primerVape.table.row1Col2' | translate }}</td>
            <td>{{ 'guides.primerVape.table.row1Col3' | translate }}</td>
            <td>{{ 'guides.primerVape.table.row1Col4' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'guides.primerVape.table.row2Col1' | translate }}</td>
            <td>{{ 'guides.primerVape.table.row2Col2' | translate }}</td>
            <td>{{ 'guides.primerVape.table.row2Col3' | translate }}</td>
            <td>{{ 'guides.primerVape.table.row2Col4' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'guides.primerVape.table.row3Col1' | translate }}</td>
            <td>{{ 'guides.primerVape.table.row3Col2' | translate }}</td>
            <td>{{ 'guides.primerVape.table.row3Col3' | translate }}</td>
            <td>{{ 'guides.primerVape.table.row3Col4' | translate }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <section class="description-section">
      <h2>{{ 'guides.primerVape.section4.title' | translate }}</h2>
      <ul class="article-list">
        <li>{{ 'guides.primerVape.section4.item1' | translate }}</li>
        <li>{{ 'guides.primerVape.section4.item2' | translate }}</li>
        <li>{{ 'guides.primerVape.section4.item3' | translate }}</li>
      </ul>
    </section>

    <p class="guide-disclaimer">{{ 'guides.common.disclaimer' | translate }}</p>
  </article>
</ion-content>
