<ion-header [translucent]="true">
  <ion-toolbar class="guide-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="guide-back-btn"></ion-back-button>
    </ion-buttons>
    <ion-title><span class="toolbar-brand">{{ 'guides.salesVsFreebase.toolbarTitle' | translate }}</span></ion-title>
    <ion-buttons slot="end">
      <app-language-toggle></app-language-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="guide-content">
  <article class="guide-article">
    <img class="guide-hero-img" src="assets/images/KingCrest.jpg" [attr.alt]="'guides.salesVsFreebase.heroImgAlt' | translate">
    <p class="brand">{{ 'common.guidesTag' | translate }}</p>
    <h1 class="name">{{ 'common.salesVsFreebaseTitle' | translate }}</h1>

    <p class="description">
      {{ 'guides.salesVsFreebase.intro' | translate }}
    </p>

    <section class="description-section">
      <h2>{{ 'guides.salesVsFreebase.section1.title' | translate }}</h2>
      <p class="description">
        {{ 'guides.salesVsFreebase.section1.body1' | translate }}
      </p>
      <p class="description">
        {{ 'guides.salesVsFreebase.section1.body2' | translate }}
      </p>
    </section>

    <section class="description-section">
      <h2>{{ 'guides.salesVsFreebase.section2.title' | translate }}</h2>
      <p class="description">
        {{ 'guides.salesVsFreebase.section2.body1' | translate }}
      </p>
      <p class="description">
        {{ 'guides.salesVsFreebase.section2.body2' | translate }}
      </p>
    </section>

    <section class="description-section">
      <h2>{{ 'guides.salesVsFreebase.section3.title' | translate }}</h2>
      <p class="description">
        {{ 'guides.salesVsFreebase.section3.body' | translate }}
      </p>
    </section>

    <section class="description-section">
      <h2>{{ 'guides.salesVsFreebase.section4.title' | translate }}</h2>
      <p class="description">
        {{ 'guides.salesVsFreebase.section4.body' | translate }}
      </p>
    </section>

    <section class="description-section">
      <h2>{{ 'guides.salesVsFreebase.section5.title' | translate }}</h2>
      <ul class="article-list">
        <li>{{ 'guides.salesVsFreebase.section5.item1' | translate }}</li>
        <li>{{ 'guides.salesVsFreebase.section5.item2' | translate }}</li>
        <li>{{ 'guides.salesVsFreebase.section5.item3' | translate }}</li>
        <li>{{ 'guides.salesVsFreebase.section5.item4' | translate }}</li>
      </ul>
    </section>

    <p class="guide-disclaimer">{{ 'guides.common.disclaimer' | translate }}</p>
  </article>
</ion-content>
