<div class="empty-state">
  <div class="icon-wrap">
    <ion-icon name="search-outline"></ion-icon>
  </div>

  <h2>{{ 'catalog.emptyState.title' | translate }}</h2>
  <p>{{ 'catalog.emptyState.subtitle' | translate }}</p>

  <ion-button fill="outline" color="primary" (click)="onClearFilters()">
    {{ 'catalog.emptyState.clearFilters' | translate }}
  </ion-button>

  <div class="suggestions" *ngIf="categories.length > 0">
    <p class="suggestions-label">{{ 'catalog.emptyState.browseCategories' | translate }}</p>
    <div class="suggestion-chips">
      <ion-chip
        *ngFor="let cat of categories"
        (click)="onCategorySelect(cat.id)"
      >
        {{ cat.name }}
      </ion-chip>
    </div>
  </div>
</div>
